accelerate==0.21.0
torch==2.0.0
torchvision
diffusers==0.24.0
transformers==4.36.2
einops
decord
tqdm
safetensors
omegaconf
opencv-python
pydantic
compel
easydict
rotary_embedding_torch
imageio[ffmpeg]
gradio
httpx[socks]
